*{
    margin: 0 !important;
    padding: 0 !important;
    direction: rtl;
    font-family: 'vazir', serif;
}
@font-face {
    font-family: "vazir";
    src: url("../../vazir-font-v29.1.0/Vazir-Medium.woff2");
}
.wrapper{
    width: 100%;
    min-height: 100px;
    box-sizing: border-box;
    position: fixed;
}
.wrapper .menu{
    width: 100%;
    position: relative;
    height: 10vh;
    background: #E6E6FA;
}
.active{
    background-color: darkgray;
}
.wrapper .menu .right{
    width: 70%;
    height: inherit;
    float: right;
}
.wrapper .menu .left{
    width: 30%;
    height: inherit;
    float: left;
}
.wrapper .menu .right ul{
    width: 100%;
    height: inherit;
    list-style: none;
}
.wrapper .menu .left ul{
    width: 100%;
    height: inherit;
    list-style: none;
}
.wrapper .menu .right ul li{
    display: inline-block;
    padding: 10px !important;
    height: inherit;
    float: right;
    position: relative;
}
.wrapper .menu .right ul li:hover .submenu{
    display: block;
}
.wrapper .menu .left ul li{
    display: inline-block;
    height: inherit;
    padding: 10px !important;
    float: left;
}
.wrapper .menu .right ul li a{
    width : inherit;
    height: inherit;
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #516395;
    text-decoration: none;
    transition: all 0.5s ease;
}
.wrapper .menu .right>ul>li .submenu{
    /*width: 100px;*/
    height: 100px;
    position: absolute;
    right: 0;
    top: 50px;
    display: none;
    background: rgb(228,239,233);
    background: linear-gradient(0deg, rgba(228,239,233,1) 0%, rgba(147,165,207,1) 100%);
}
.wrapper .menu .right>ul>li .submenu li{
    width: 100%;
    height: 50px;
}
.wrapper .menu .right>ul>li .submenu li .submenu1{
    width: 100px;
    height: 150px;
    position: absolute;
    top: 0;
    right: 100px;
    background-color: whitesmoke;
    display: none;
}
.wrapper .menu .right>ul>li .submenu li:hover .submenu1{
    display: block;
}
.wrapper .menu .left ul li a{
    width : inherit;
    height: inherit;
    display: block;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color:#516395;
    text-decoration: none;
    transition: all 0.5s ease;
}
.wrapper .menu ul li a:hover{
    font-weight: bold;
    color: #3f6199;
}